* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}
html {
  height: 100%;
  min-height: 100%;
}
.nav-container {
  display: grid;
  grid-template-columns: 60px 60px 1fr 60px 60px 60px 100px;
  grid-template-rows: 50px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-areas: "about store . gmail images menu-btn sign-in-btn";
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.footer-container p {
  text-decoration: none;
  color: grey;
}
.footer-container a {
  text-decoration: none;
  color: grey;
}
.footer-container a:hover {
  text-decoration: underline;
}
#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}
#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
}
#images {
  grid-area: images;
  justify-self: center;
  align-self: center;
}
#menu-btn {
  grid-area: menu-btn;
  justify-self: center;
  align-self: center;
}
#menu-btn:hover {
  background-color: rgb(236, 236, 236);
  padding: 6px;
  border-radius: 50%;
}
#sign-in-btn {
  grid-area: sign-in-btn;
  justify-self: center;
  align-self: center;
  background-color: #2973d4;
  color: #f8f9fa;
  padding: 10px;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
#sign-in-btn:hover {
  background-color: #2b7de9;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 70px 60px 75px;
  grid-template-areas:
    ". logo ."
    ". search-bar ."
    ". flexbox ."
    ". google-text .";
}
#logo {
  grid-area: logo;
  justify-self: center;
  align-self: end;
}
#search-bar {
  grid-area: search-bar;
  justify-self: center;
  align-self: center;
  width: 100%;
  border-radius: 30px;
  height: 48px;
  border: 1px solid rgb(231, 231, 231);
}
#text-box {
  grid-area: search-bar;
  justify-self: center;
  align-self: center;
  height: 16px;
  width: 85%;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
#magnify {
  grid-area: search-bar;
  justify-self: start;
  align-self: center;
  color: rgb(172, 172, 172);
  font-size: 20px;
  margin-left: 15px;
}
#mic {
  grid-area: search-bar;
  justify-self: end;
  align-self: center;
  margin-right: 15px;
  font-size: 20px;
  color: rgb(172, 172, 172);
}
#text-box:focus {
  outline: none;
}
#search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#flexbox {
  grid-area: flexbox;
  display: inline-block;
  justify-self: center;
  align-self: center;
}
#search-btn:hover {
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}
#lucky-btn:hover {
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}
#search-btn {
  padding: 15px;
  background-color: #f8f9fa;
  border: solid 1px #f8f9fa;
  border-radius: 3px;
  color: #3c4043;
  outline: none;
}
#lucky-btn {
  padding: 15px;
  background-color: #f8f9fa;
  border: solid 1px #f8f9fa;
  border-radius: 3px;
  color: #3c4043;
  outline: none;
}
#google-text {
  grid-area: google-text;
  justify-self: center;
  align-self: center;
}
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 150px 150px 1fr 150px 150px 150px;
  grid-template-rows: 20px 40px 20px;
  grid-template-areas:
    "country . . . . . ."
    ". . . . . . ."
    "advertising business how-search-works . privacy terms settings";
  background-color: rgb(243, 243, 243);
}
.footer-border {
  border-bottom: 1px solid rgb(180, 180, 180);
  position: absolute;
  width: 100%;
  padding: 8px;
}
#country {
  grid-area: country;
  justify-self: center;
  align-self: center;
}
#advertising {
  grid-area: advertising;
  justify-self: center;
}
#business {
  grid-area: business;
  justify-self: center;
}
#how-search-works {
  grid-area: how-search-works;
  justify-self: center;
}
#carbon-neutral {
  grid-area: carbon-neutral;
  justify-self: center;
}
#privacy {
  grid-area: privacy;
  justify-self: center;
}
#terms {
  grid-area: terms;
  justify-self: center;
}
#settings {
  grid-area: settings;
  justify-self: center;
}
